.data{
    width: 100%;
    height: 500px;
}

.border h2{
    margin: auto;
    font-family: 'Mali', cursive;
}
.border {
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    background-color: var(--primary-color1);
}